## Задание 1:

### Оформляйте ноутбук, используя эти советы:

*   Номер задачи - заголовок 2
*   Номер подзадачи - заголовок 3
*   Предоставленные наборы данных оформляйте, как код `Code`

## Задание 2:

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе, при помощи использования `kwargs`

In [1]:
def amount_of_fruit(**kwargs: int) -> int:
  '''Функция расчета общего количества фруктов'''
  return sum(kwargs.values())
  
amount_of_fruit(apple=5, pear=10, orange=7)

22

## Задание 3:

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
`[100, 125, -90, 345, 655, -1, 0, 200]`
Используйте `list comprehensions`

In [2]:
advertising_costs = [100, 125, -90, 345, 655, -1, 0, 200]

def sum_positive_cost(*args: int) -> int:
  '''Функция расчета суммы положительных затрат'''
  return sum([value for value in args if value >= 0])

sum_positive_cost(*advertising_costs)

1425

## Задание 4:

Даны два списка.

Дата покупки
`['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']`

Суммы покупок по датам
`[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]`

In [3]:
date_of_purchase = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', 
                    '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', 
                    '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', 
                    '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', 
                    '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
                    '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', 
                    '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
                    '2021-10-26', '2021-12-09']
                    
purchase_amounts_by_dates = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 
                             5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 
                             6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 
                             5015, 2008, 316, 6333, 5700, 2887]

### Задание 4.1:

Найдите, какая выручка у компании в ноябре.
Используйте `list comprehensions`

In [4]:
def purchase_by_month(dates: list, amounts: list, month: int) -> int: 
  '''Функция расчета выручки в выбранных месяцах'''
  month = f'-{month}-'
  return sum([value for key, value in zip(dates, amounts) if month in key])

November = 11
purchase_by_month(date_of_purchase, purchase_amounts_by_dates, November)

25098

### Задание 4.2:

Найдите выручку компании в зависимости от месяца.
Для этого напишите функцию, которая на вход принимает список `list` с датами и список `list` с выручкой, а на выходе словарь `dict`, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [5]:
def revenue_by_months(dates: list, amounts: list) -> dict: 
  '''Функция расчета выручки по месяцам'''
  month = [date.split('-')[1] for date in dates]
  dict_revenue = {}
  for key, value in zip(month, amounts):
    get_value = dict_revenue.get(key)    
    dict_revenue[key] = value + get_value if get_value else value
  return dict(sorted(dict_revenue.items()))

revenue_by_months(date_of_purchase, purchase_amounts_by_dates)

{'09': 25647, '10': 28645, '11': 25098, '12': 45452}