# Домашнее задание к семинару №2 от 21.02.2023г

In [1]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

## Задание 1:

Считать данные с помощью pandas:

In [2]:
df=pd.read_csv(open('kc_house_data.csv'))

Вывести на экран первые 5 строк:

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Посмотреть на описание признаков и на их содержание:

In [4]:
df.sample()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
17488,6608500290,20141024T000000,405000.0,3,2.5,1430,10200,1.0,0,0,...,7,1430,0,1960,0,98033,47.7012,-122.166,1470,10350

In [5]:
df.sample(frac=1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
3152,5561401220,20140707T000000,670000.0,6,3.00,4050,36171,2.0,0,0,...,8,2620,1430,1970,0,98027,47.4708,-122.015,3660,42874
10028,2979800764,20140605T000000,390000.0,3,2.00,1463,868,3.0,0,0,...,7,1463,0,2003,0,98115,47.6843,-122.317,1484,4320
19802,8011100125,20141117T000000,545000.0,4,2.75,2650,6717,2.0,0,0,...,10,2650,0,2014,0,98056,47.4947,-122.171,2740,7923
5361,4037000840,20150406T000000,554000.0,3,2.00,1910,9001,1.0,0,0,...,7,1910,0,1957,0,98008,47.6037,-122.119,2040,8700
13863,2310110120,20140808T000000,365000.0,3,2.50,2190,5091,2.0,0,0,...,8,2190,0,2004,0,98038,47.3506,-122.039,2200,5948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3353,6099400053,20140529T000000,145000.0,3,1.00,1010,5490,1.0,0,0,...,6,1010,0,1954,0,98168,47.4762,-122.293,1740,10658
9772,705700960,20140724T000000,315000.0,3,2.50,1660,10763,2.0,0,0,...,7,1660,0,1994,0,98038,47.3812,-122.029,2010,7983
19245,2193300620,20150217T000000,403000.0,3,2.25,1840,13020,1.0,0,0,...,8,1390,450,1980,0,98052,47.6923,-122.095,2210,13020
16746,1826049430,20140520T000000,372500.0,4,1.75,1590,10523,2.0,0,0,...,7,1590,0,1922,0,98133,47.7358,-122.342,1610,8568
140,4232901525,20140627T000000,665000.0,2,1.00,1110,3200,1.0,0,0,...,7,1110,0,1925,0,98119,47.6338,-122.358,1170,3600

In [6]:
df.sample(frac=0.5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
9069,7010700245,20141231T000000,565000.0,5,2.25,2130,4360,1.0,0,2,...,8,1240,890,1959,0,98199,47.6586,-122.395,1830,5000
9147,8917100180,20140604T000000,583000.0,6,2.75,2630,16411,1.0,0,0,...,8,1650,980,1974,0,98052,47.6309,-122.093,2250,12255
9081,6445800120,20150404T000000,679000.0,4,1.75,2260,41236,1.0,0,0,...,8,1690,570,1962,0,98029,47.5528,-122.034,3080,30240
3832,5561710110,20141014T000000,319990.0,3,2.25,1840,7326,1.0,0,0,...,7,1370,470,1979,0,98031,47.3958,-122.168,2050,7475
18521,3600072,20150330T000000,680000.0,4,2.75,2220,5310,1.0,0,0,...,7,1170,1050,1951,0,98144,47.5801,-122.294,1540,4200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16222,2045800006,20140904T000000,439000.0,3,2.25,2230,4551,1.5,0,2,...,8,1450,780,1928,0,98178,47.5078,-122.236,2060,7200
18198,8946400100,20140804T000000,488000.0,3,2.50,1940,5660,2.0,0,0,...,8,1940,0,2001,0,98072,47.7511,-122.170,2110,4581
4102,9262800057,20150203T000000,269950.0,4,1.00,1440,9600,1.0,0,0,...,7,1440,0,1964,0,98001,47.3168,-122.264,1740,43560
21343,2924079034,20140925T000000,332220.0,3,1.50,2580,47480,1.0,0,0,...,7,1360,1220,1953,0,98024,47.5333,-121.933,1760,48181
13222,2524069072,20140626T000000,243800.0,3,1.00,1140,27760,1.0,0,0,...,6,1140,0,1981,0,98027,47.5372,-121.972,1690,87300

In [7]:
df.shape

(21613, 21)

## Задание 2:

### Проведите первичный анализ данных:

Изучите типы данных:

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

Найдите количество пропущенных ячеек в данных:

In [9]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Посчитайте основные статистики по всем признакам и поизучайте их:

In [10]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [11]:
df.describe(include=['object'])

                   date
count             21613
unique              372
top     20140623T000000
freq                142

## Задание 3:

### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [12]:
df['price'].describe()

count    2.161300e+04
mean     5.400881e+05
std      3.671272e+05
min      7.500000e+04
25%      3.219500e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

In [13]:
print(df['price'].min(), '-', df['price'].max())

75000.0 - 7700000.0

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [14]:
print((df['sqft_living'].mean() / df['sqft_lot'].mean()) *100, '%')

13.76781757959227 %

### 3.3 Как много домов с разными этажами в данных?

In [15]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

In [16]:
df['floors'].nunique()

6

### 3.4 Насколько хорошие состояния у домов в данных?

In [17]:
print(df['condition'].min())
print(df['condition'].max())
print(df['condition'].mean())

1
5
3.4094295100171195

In [18]:
df['condition'].value_counts().sort_index()

1       30
2      172
3    14031
4     5679
5     1701
Name: condition, dtype: int64

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [19]:
print(df['yr_built'].min())
print(df['yr_built'].max())

1900
2015

## Задание 4:

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [20]:
df[df['bedrooms']== 2 ]['price'].mean()

401372.681884058

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [21]:
df[df['price'] > 600000 ]['sqft_lot'].mean()

20442.524776214832

### 4.3 Как много домов коснулся ремонт?

In [22]:
df[~(df['yr_renovated'] == 0)]['yr_renovated'].count()

914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [23]:
print((df[(df['grade'] > 10)]['price'].mean() - df[(df['grade'] < 4)]['price'].mean()))

1488885.1175298805

## Задание 5:

### 5.1 Выберите дом клиенту

Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [24]:
df[ (df["bathrooms"] > 2) &
    (df["waterfront"] == 1) &
    (df["sqft_basement"] > 0)
]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2,...,9,2165,588,1953,0,98070,47.4041,-122.451,2680,72513
246,2025069065,20140929T000000,2400000.0,4,2.50,3650,8354,1.0,1,4,...,9,1830,1820,2000,0,98074,47.6338,-122.072,3120,18841
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508
457,2122039094,20141126T000000,705000.0,3,3.00,1970,20978,2.0,1,3,...,9,1770,200,1980,0,98070,47.3844,-122.438,2280,75396
656,3760500116,20141120T000000,3070000.0,3,2.50,3930,55867,1.0,1,4,...,8,2330,1600,1957,0,98034,47.7022,-122.224,2730,26324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18914,9253900408,20150408T000000,1400000.0,3,2.75,3130,19530,1.0,1,4,...,8,1690,1440,1947,1984,98008,47.5895,-122.111,2980,18782
20325,518500480,20140811T000000,3000000.0,3,3.50,4410,10756,2.0,1,4,...,11,3430,980,2014,0,98056,47.5283,-122.205,3550,5634
20767,8043700105,20150417T000000,2300000.0,4,4.00,4360,8175,2.5,1,4,...,10,3940,420,2007,0,98008,47.5724,-122.104,2670,8525
21201,518500460,20141008T000000,2230000.0,3,3.50,3760,5634,2.0,1,4,...,11,2830,930,2014,0,98056,47.5285,-122.205,3560,5762
21576,9253900271,20150107T000000,3567000.0,5,4.50,4850,10584,2.0,1,4,...,10,3540,1310,2007,0,98008,47.5943,-122.110,3470,18270

### 5.2 Выберите дом клиенту

Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [25]:
cost_max = df[
    ((df["waterfront"] == 1) | (df["view"] == 4)) &
    (df["condition"] > 4.5) &
    (df["yr_built"] > 1978)
]['price'].max()

cost_min = df[
    ((df["waterfront"] == 1) | (df["view"] == 4)) &
    (df["condition"] > 4.5) &
    (df["yr_built"] > 1978)
]['price'].min()

print(cost_min, '-', cost_max)

1295000.0 - 3000000.0

### 5.3 Выберите дом клиенту

Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [26]:
df[
    (df["sqft_basement"] == 0) &
    (df["floors"] ==2) &
    (df["price"] < 150000)
]['condition'].mean()

2.8333333333333335